@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,500;1,300&family=Poppins:wght@100;400&display=swap');


body {
  background-color: black; 
  height: 100%;
  overflow: hidden;
  font-family : 'Poppins', sans-serif; 
  color:white
}
nav {

    display: flex;
   
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgb(0, 0, 0);
    }
nav .profile {

    display: flex;
    align-items: center;
    }
nav .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-position: left;
    }
nav .profile h1 {

    font-size: 15px;
    margin-left: 10px;
    }
nav ul  {
    display: flex;
    list-style-type: none;
    }
nav li {

    margin-left: 15px;
    cursor: pointer;
    border-bottom: 1px solid  rgb(0, 0, 0);
    }
nav ul li:hover {
        
    border-bottom-color: rgb(255, 153, 0);
    }

.mainpage {
    margin: 4%;
    max-width: 80%;
}

.mainpage header{


    margin-top: 5%;

}
.mainpage h1 {

    font-size: 5vw;
    margin: 0;
    text-transform: uppercase;
    font-family: 'barlow' ; 
    color: rgb(255, 153, 0);
   
}

.mainpage p {
    line-height: 30px;
    color: rgb(201, 201, 201)
    


}
@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';




div[class*=box] {
  height: 33.33%;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
 
}


.box-2 { background-color: #000000;
background: size 40%; 
color:rgb(255, 153, 0);

}
.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;

}



/*
========================
      BUTTON TWO
========================
*/
.btn-two {
  color:rgb(255, 255, 255);
  transition: all 0.5s;
  position: relative; 
 
}
.btn-two span {
  z-index: 2; 
  display: block;
  position: absolute;
  width: 100%;
  height: 100%; 
 
}
.btn-two::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgb(255, 153, 0);
  background-color: rgba(17, 17, 17, 0.041);
}
.btn-two::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgb(255, 153, 0);
  background-color: rgba(255,255,255,0.1);
}
.btn-two:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255,255,255,0);
}
.btn-two:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255,255,255,0);
}


.onglets2 {

  margin-left:2%;
  margin-right: 20%;
 
}
.onglets2 ul {

  display: flex;
  list-style-type: none;

  position: center ;

}
.onglets2 li {

  margin-left: 15px;
  cursor: pointer;
  border-bottom: 1px solid  rgb(0, 0, 0);
  }
.onglets2 ul li:hover {
      color:rgb(255, 153, 0);
  border-bottom-color: rgb(255, 153, 0);
  }


 
   

    